<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.azkara.hp.azkar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".Ui.Home_Screen.HomeScreenActivity" />

        <receiver android:name=".Reciever.OverLayWindowReceiver">
            <intent-filter>
                <action android:name="SHOW_OVERLAY_VIEW" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Reciever.OnBootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Service.FloatingWidgetService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".Ui.Splash_Screen.SplashScreenActivity"></activity>
        <activity android:name=".Ui.Werd_El_Mo7asba_Screen.WerdMohasbaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>